datasets
joblib
lightgbm
matplotlib
numpy
pandas
python-dotenv
requests
scikit-learn
scipy
seaborn
sentence-transformers
torch
transformers
tqdm
umap-learn
xgboost
pyarrow
fsspec
cupy-cuda12x; platform_system != "Darwin"
cuml-cu12; platform_system != "Darwin"